:root{
    --prymari-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

/* navbar starts hear */


/* midia @ navbar  starts hear*/
.first-navbar{
    display: none;
}

.first-navbar ul{
   width: 100%;
   padding-top: 20px;
   background-color: gray;
}

.first-navbar li{
 
    width: 100%;

    padding-top: 50px;
    text-align: center;
   
}

.first-navbar a{
    color: whitesmoke;
    font-weight: bolder;
    width: 100%;
    height: 30px;
}



#first-li{
    padding-top: 1px;
   
}

#madia-h1{
    color: #ff7200;
    font-size: 3rem;
    text-align: center;
}

/* midia @ navbar  ends hear */




.secent-navbar{
    padding-top: 1px;
}

.secent-navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.secent-navbar ul li{
    padding-right: 30px;
}

.secent-navbar a{
    color: black;
    font-weight: bolder;
}

.secent-navbar a:hover{
  border-bottom: 2px solid gray;
}

.secent-navbar li:first-child{
    margin-right: auto;
}

.secent-navbar span{
    font-size: 3rem;
    padding-left: 20px;
    color: #ff7200;
    justify-content: flex-start;
}

/* navbar ends hear */


/* main starts hear */

/* main ends hear */























/* madia section starts hear */
@media (max-width: 800px) {
    .first-navbar{
        display: block;
    }

    .secent-navbar{
        display: none;
    }
};

/* madia section ends hear */
